<!DOCTYPE html>
<html  data-no-turbolink>
  <head>
    <title>Warmup</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container">
  	<%if current_user%>
	<nav class="navbar navbar-default">
	    <ul class="nav navbar-nav">
	      <li class="nav-item">
	        <a class="nav-link" href="<%= users_index_path%>">User Index</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="<%= users_new_path %>">New User</a>
	      </li>
	    </ul>

	     <ul class="nav navbar-nav navbar-right">
	     	<li class="nav-item">
	     		<%= link_to "Logout", destroy_user_session_path, method: :delete %>
	      	</li>
	     </ul>
	</nav>
	<%end%>


  	<% if !flash.empty? %>
	    <div id="flash"> 
	        <% flash.keys.each do |k| %> 
	            <div class="alert alert-<%= k %>">
	                <%= flash[k] %>
	            </div>  
	        <% end %>   
	    </div>
	<% end %>
    <%= yield %>
  </body>
</html>
